#navbar{
    background-color: var(--primary-color);
    height:4rem;
}

.title{
    color:var(--secondary-color);
    font-size: 3rem;
    padding: 2rem 2rem 2rem 2rem;
    font-weight:bolder;
    text-shadow: 0.5rem 0.5rem 0.5rem var(--text-color); 
}
