.card-body{
    /*flex:1;*/
    /*flex: 0 0 calc(33.33% - 1rem);*/
    background:var(--card-color);
    min-width:10rem;
    border-radius:1rem;
    padding:1rem;
    text-align:center;
}

.card-title{
    color:var(--heading-color);
    font-weight:bold; 
    font-size:1.3rem;
}

.card-content{
    color:var(--text-color);
  overflow: auto;
  height: 2rem;;
}
