.container {
    background:var(--primary-color);
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction:column;
}
.container-body {
    background:var(--secondary-color);
    flex-grow:1;
    margin:5vh 10vw 10vh 10vw;
    border-radius:2vw;
}

.heading{
    color:var(--primary-color);
    font-size:3rem;
    padding: 2rem auto;
    text-align:center;
    font-weight:bold;
}

.card-holder{
    display: flex;
    flex-direction:row;
    margin: auto;
    padding:3rem;
    gap:1rem;
    flex-wrap:wrap;
    justify-content:center;
}
